/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.footer {
  margin: 0;
  position: fixed;
  bottom: 0;
  display: table-row;
  background-color: #05386B;
  color: white;
  width: 100%;
}
.container2 {
  padding: 1.875rem;
}
.container3{
  width: 100%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.footer-section{
  margin-bottom: 0.875rem;
  padding-left: 1.275rem;
  padding-right: 1.275rem;
}
.footer-tittle-text{
  font-size: 18px;
  font-weight: 600;
  font-family: 'Encode Sans', sans-serif;;
}
.footer-text{
  font-size: 16px;
  font-weight: 500;
}
.title{
  margin-bottom: 1.3125rem;
}
.footer-list{
  list-style: none;
  padding: 0;
  margin-top: 1.875rem;
}
ul li:not(:last-child) {
  margin-bottom: 0.875rem;
}
.footer-icon-name{
  position: relative;
  display: inline-block;
  text-decoration: none;
  color:white;
}
.footer-icon{
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  width: 1rem;
  height: 1rem;
}
.shdw{
  background: white;
  filter: drop-shadow(6px 6px 10px black);
}
.banner{
  float:left;
  height: 100%;
  width: 20%;
  background: #05386B;
}
