/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.footer {
  margin: 0;
  position: fixed;
  bottom: 0;
  display: table-row;
  background-color: #ff8c69;
  color: black;
  width: 100%;
}
.container2 {
  padding: 1.875rem;
}
.container3{
  width: 100%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.footer-section{
  margin-bottom: 0.875rem;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.footer-text{
  font-size: 18px;
  font-family: SecularOne, serif;
  font-weight: bold;
}