<form>
    <div>
        <p>
            <label>Email</label>
            <input type="text">
            @Html.ValidationMessage("Email")
        </p>
        <p>
            <label>Password</label>
            <input type="password">
            @Html.ValidationMessage("Password")
        </p>
        <p>
            <input type="submit" value="Sign In">
        </p>
    </div>
</form>
